// CLEANUP: prefix all non-"attr_" | "roll_" | "repeating_" with `sheet-`
$prefix: '';

$fontSizes: (
  small: 11px,
  normal: 14px,
  large: 18px
);

$attributes:
  age,  
  dob,
  education,
  gender,
  height,
  manifested,
  motive,
  name,
  nationality,
  profession,
  service,
  weight;


// apply a natural box layout model to all elements, but allowing components to change
// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  min-width: 800px;
  max-width: 1400px;
  padding: 1rem;
}

input {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

label {
  font-size: map-get($fontSizes, normal);
}

@supports (display: grid) {
  .#{$prefix}Background {
    display: grid;
    grid-template:
      'heading heading heading heading heading heading'
      'service service name name name name'
      'gender nationality nationality nationality height weight'
      'age dob dob manifested manifested manifested'
      'education education education profession profession profession'
      'motive motive motive motive motive motive'
      / 1fr 2fr 4fr 4fr 1fr 1fr;
    grid-template-rows: auto repeat(5, 3rem);
    grid-column-gap: 0.5rem;
    align-items: start;

    h2 {
      grid-area: heading;
      margin-bottom: 1rem;
      border-bottom: 2px solid #000;
      font-size: map-get($fontSizes, large);
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    input {
      grid-area: 1 / 2 / 2 / -1;
      margin-left: 0.5rem;
      border: none;
      border-bottom: 2px dotted #000; 
    }

    @each $attribute in $attributes {
      &__#{$attribute} {
        grid-area: #{$attribute};
      }
    }

    &__field {
      display: grid;
      grid-template-rows: auto auto;
    }

    @for $i from 1 through 5 {
      &__field--#{$i} {
        grid-template-columns: auto repeat(#{$i}, 1fr);
      }
    }

    &__fieldHint {
      justify-self: center;
      font-size: map-get($fontSizes, small);

      &:first-of-type {
        grid-column-start: 2;
      }
    }
  }
}